<p id="notice"><%= notice %></p>


  <%#= @brand.name %>


<p>

  <%= image_tag @brand.logo, height: 400  %>
</p>


<%= link_to 'Edit', edit_brand_path(@brand), class: 'btn btn-secondary' %> 
<%= link_to 'Back', brands_path, class: 'btn btn-secondary'  %>

<hr>

<%#= render 'sneakers/index'%>

<% @sneakers.each do |sneaker| %>
  <%= render 'sneakers/show', sneaker: sneaker %>
<% end %>

<%= render 'sneakers/form', sneaker: Sneaker.new %>
