<!DOCTYPE html>
<html>
  <head>
    <title>HSESneakerStore1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>



    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">
   <img src="lib/tasks/navbar/1.jpg" width="30" height="30" alt="">
 </a> -->

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <h3><%= link_to 'Brands', brands_url, class:'nav-link'%></h3>
          </li>
          <li class="nav-item">
            <h3><%= link_to 'Sneakers', sneakers_url, class:'nav-link' %></h3>
          </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search...">
          <button class="btn btn-secondary"  type="submit">Search</button>
        </form>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
